<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <% if (typeof message !== "undefined" && message) { %>
    <h4><%= message %></h4>
    <% } %> 

    <% if (user) { %>
      <h1>Welcome back <%= user.username %></h1>
      <a href="/log-out">Log out</a>
      <a href="/<%= user.id %>/create-message">Create new message!</a>
      <% if (!user.membership) { %>
        <a href="/become-member/<%= user.id %>"><h2>Become a member to post messages!</h2></a>
        <form action="/become-member/<%= user.id %>" method="post" onsubmit="return confirm('Are you sure you want to become a member?');">
          <input type="submit" value="Become a member">
        </form>
      <% } else {%>
        <h2>You are a member! Write something...</h2>
      <% } %>
        <% if (messages) { 
            messages.forEach(message => { %>
              <h2>Title: <%= message.title %></h2>
              <h3>Content: <%= message.content %></h3>
              <h4>Author: 
                <% if(user.membership) {%>  
                  <%= message.author %> 
                <%} else {%> Anonymous <% } %>
                </h4>
              <h4>Date: <% if(user.membership) {%>  
                  <%= message.formatted_date %> 
                <%} else {%> Unknown <% } %></h4>
              <% if (user.admin) { %> 
              <form action="/delete/<%= message.id %>" method="post" onsubmit="return confirm('Are you sure to delete this message?')">
                <input type="submit" value="Delete"></form>  
            <% } %>
            <% }); %>
        <% } %>
    <% } else { %>
      <h1>Log in to participate in our community!</h1>
      <a href="/log-in">Login</a>
      <a href="/sign-up">Sign up</a>
      <% if (messages) { 
        messages.forEach(message => { %>
          <h2>Title: <%= message.title %></h2>
          <h3><%= message.content %></h3>
          <h4>Author: Anonymous</h4>
        <% }); %>
      <% } %>
    <% } %>
  </body>
</html>
